.dashboard_container {
  width: 100%;
  height: 76vh;
  background: #efedff;
  border-radius: 10px;
}
.dashboard_heading {
  width: 701px;
  height: 41px;
  left: 459px;
  top: 176px;
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0.7px;
  color: #3e3b3b;
}
